body {
    margin: 0;
    padding: 0em 1em;
    font-family: sans-serif;
    background: #000000;
    color: white;
    text-align: center;
}

p {
    max-width: 80%;
    margin: 10px auto;
}

h1 {
    font-size: 300%;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-drag: element;
    -webkit-user-drag: element;
    -khtml-user-drag: element;
    user-drag: element;
}

.game {
    position: absolute;
    top: 0;
    left: 1em;
    border-right: 1px solid grey;
    width: 49%;
}

.tiles {
    position: absolute;
    top: 0;
    right: 1em;
    width: 49%;
}

.roomButtonComponent{
    width:60%;
    position:absolute
}

.buttonsDiv{
    display: flex;
    justify-content: flex-start;
}

.roomButton{
    padding: 0.8%;
    display: none;
}

.Room{
    margin-left: 5%;
}

.Room img:hover{
    transform: scale(var(--card-scale-on-zoom-size));
}

.Room img{
    height: 8%;
    width: 15%;
}

.item-table {
    background-color: #9E9E9E;
    vertical-align: top;
    position: absolute;
    top:0;
    right:0;
    padding: 0.7em;

}

.selection{
  background-color: red;
  text-decoration: line-through;
}

td{
    border: 1px solid black;
    padding: 0.5em;
    text-align: left;
}
