.cursor-x {
      cursor: ew-resize;
}

.box {
      background: #fff;
      border: 1px solid #ff0000;
      border-radius: 3px;
      width: 120px;
      height: 180px;
      margin: 10px;
      padding: 10px;
      float: left;
}

.react-draggable {
      background: #ddd;
      border: 1px solid #999;
      border-radius: 3px;
      display: block;
      margin-bottom: 10px;
      padding: 3px 5px;
      text-align: center;
}

.react-draggable, .cursor {
      cursor: move;
}

.no-cursor {
      cursor: auto;
}

.cursor-y {
      cursor: ns-resize;
}

.card-color{
    background-image: url("./card1.png");
    background-size: contain;
}