.Multiselect .options {
    color: red;
  }

.inputField {
    margin: 5px;
    color: crimson;
  }

.chips {
    background: red;
  }

.option {
    border: 1px solid;
    color: black;
  }

.groupHeading {

  }
