.App{
  width: 100%;
  margin: 0 auto;
}
.drag-container {
  text-align: center;
}

.head {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #CCCCCC;
  width:100%;
}

.lost-cards-pile {
  position: absolute;
  width: 10%;
  height: 30%;
  bottom: 20%;
  right: 0;
  background-color: #9E9E9E;
  border-left: 2px dotted red;
  flex-direction: column;
  vertical-align: text-top;
}

.cards {
  width: 60px;
  background-size: contain;
  font-size: 10px;
}

.cards-in-hand {
  width: 60px;
  height: 90px;
  background-size: contain;
  font-size: 10px;
}

.cards-in-hand:hover{
  width: 90px;
  height: 135px;
}

.cards:hover{
  width: 90px;
  height: 135px;
}

.discard-pile {
  position: absolute;
  width: 10%;
  height: 30%;
  left: 0;
  bottom: 20%;
  background-color: #FF0000;
  border-right: 2px dotted red;
  flex-direction: column;
  vertical-align: text-top;
}

.cards-in-hand-pile {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  left: 0;
  background-color: #777777;
  border-bottom: 2px dotted red;
}

.shortrest {
  float: left;
}

.close {
  color: #FF0000;
  float: right;
}
