.App{
  width: 100%;
  margin: 0 auto;
}
.drag-container {
  text-align: center;
}

.head {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #CCCCCC;
  width:100%;
}

.lost-cards {
  position: absolute;
  width: 10%;
  height: 30%;
  bottom: 20%;
  right: 0;
  background-color: #9E9E9E;
  border-left: 2px dotted red;
}

.cards {
  width: 60px;
  height: 90px;
  bottom: 0;
  background-size: contain;
  margin: 10px auto;
  font-size: 10px;
}

.cards:hover{
  transform: scale(1.5);
}

.discard-pile {
  position: absolute;
  width: 10%;
  height: 30%;
  left: 0;
  bottom: 20%;
  background-color: #EEEEEE;
  border-right: 2px dotted red;
}

.cards-in-hand {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  left: 0;
  background-color: #777777;
  border-bottom: 2px dotted red;
}